@media screen and (min-width: 800px) {
	.wrapper {
		max-width: 800px;
	}
}

.post-content h1, .post-content h2, .post-content h3 {
	margin-top: 15px;
}

.post-subtitle{
	margin-top: 3.2vh;
	margin-bottom: 2vh;
	font-size: 1.5rem;
	color: #888;
}

.post-meta {
    margin-top: 2vh;
}

.highlight {
    background-color: rgb(255, 250, 228); 
    margin: 0 calc(-6vh);
	padding: 1vh 6vh;
    border-radius: 16px;
    font-size: 1rem; 
    line-height: 1.6;
    border: 0.2px solid rgb(255, 255, 200);
}

.highlight h3 {
	padding-bottom: 0.8rem;
}

blockquote {
    background-color: #feeff1; 
    border-left: 4px solid #f5c2c7;
    padding: 10px 15px;
    margin: 20px 0; 
    font-size: 0.95rem;
    color: #333; 
}


figure {
	margin: 1.5em 0;
	text-align: center;
  }
  
  figcaption {
	font-size: 1rem;
	font-style: italic;
	color: #666;
  }
  
figure img {
	max-height: 70vh;
}

/* Post stylings */


.post-footer{
	background-color: #f8f9fa;
	margin: 0 calc(-3vh);
	padding: 2vh 3vh;
	border-radius: 16px;
    
}

.post-featured-image {
    display: block;
    position: relative;
    max-width: calc(100% + 16vw); 
    width: calc(100% + 16vw);
    margin-left: -8vw;
    margin-right: -8vw;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 799px) {
	.post-footer {
        margin: 0 0;
        width: 100%;
    }

    .post-featured-image {
        margin: 0 0;
        width: 100%
    }
}

.post-footer ul{
	margin-left: 0;
}

.post-footer li{
	list-style-type: none;
	padding-bottom: 0.8vh;
}

/* Carousel stylings for blog images*/

.blog-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.blog-carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.blog-carousel-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-carousel-item img {
    max-height: 60vh;
    object-fit: contain;
}

.blog-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.blog-carousel-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.caption {
    text-align: center;
    margin-top: 10px;
}

.suunto-embed {
	width: 100%;
	max-height: 100vh;
	border: 0;
	height: 800px;
}

.google-map-embed {
	width: 600px;
	max-width: 90vw;
	height: 450px;
	border: 0;
}