/* Home page stylings */

.home {
	margin-left: auto;
	margin-right: auto;
}

.home .image-caption{
	display: block;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
	color: grey;
}

.hero-section h1 {
	text-align: center;
}

.home h2 {
	text-align: center;
}

.home-about-me {
	margin-bottom: 20px;
}

@media screen and (min-width: 800px) {
	.hero-section {
		width: 70vw;
		margin: auto;
		margin-bottom: 4vw;
	}
	
	.home .image-caption {
		max-width: 60vw;
	}
}

@media screen and (max-width: 799px) {
	.hero-section {
		width: 90vw;
		margin: auto;
	}

	.home .image-caption {
		max-width: 90vw;
	}
}

.home-image {
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.home-hero-image {
	/* max-width: 70%; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.workplaces-strip {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f9fa; 
}

@media screen and (min-width: 800px) {
	.workplaces-strip {
		width: 100%;
		flex-direction: row;
	}
	.home-image-block img {
		width: 40%;
	}

	.home-image-profile img {
		width: 20%;
	}
}

@media screen and (max-width: 799px) {
	.workplaces-strip {
		flex-direction: column;
	}

	.workplaces-strip img{
		padding-bottom: 20px;
	}

	.home-image-block img {
		width: 80%;
	}

	.home-image-profile img {
		width: 50%;
	}
}

.workplaces-strip img {
    height: 100px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure images cover the height without distortion */
    margin: 0 10px; /* Optional: Add some spacing between images */
}

.home-image-block img, .home-image-profile img {
	display: block;
	margin: 0 auto;
}

/* Jumbotron Section Container */
.jumbotron-section {
    padding: 0.1vh 8vw 0.1vh 8vw;
    margin: 0 auto;
	background-color: rgba(219, 227, 5, 0.1);
}

/* Jumbotron Text */
.home-page-jumbotron-text {
    text-align: center;
    padding-top: 3rem;
	padding-bottom: 2rem;
}

.home-page-jumbotron-text h1 {
    font-size: 2.8rem;
    font-weight: 400;
	margin: 0 0 2rem 0;
}

.home-page-jumbotron-text p {
    font-size: 1.25rem;
    color: #666;
    margin: 0.5rem 0 0 0;
}

.contact-cards-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin: 1.2rem 0;
	}

.home-page-cards-container {
    display: flex;
	flex-direction: row;
    gap: 1.5rem;
}

.home-page-card {
    background: #F8F0FF;
    border-radius: 12px;
    padding: 1.5rem 0;
    text-decoration: none;
    border: 1px solid #8638E5;
    transition: transform 0.2s, box-shadow 0.2s;
    width: calc(20% - 0.2rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
	min-height: 36vh;
}

.home-page-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-page-icon-placeholder {
    width: 56px;
    margin-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}

.home-page-card-content h3 {
    font-size: 1.36rem;
    margin: 0 0 1.5rem 0;
    font-weight: 600;
	text-align: center;
}

.home-page-card-content p {
    font-size: 1.08rem;
    margin: 0;
    color: #666;
	text-align: center;
}


/* Mobile Styles */
@media (max-width: 799px) {
    .jumbotron-section {
		padding: 0.1rem 5% 0.1rem 5%;
    }

	.home-page-jumbotron-text h1 {
        font-size: 2.4rem;
    }

	.home-page-jumbotron-text p {
        font-size: 1.2rem;
    }

	.contact-cards-container {
		flex-direction: column-reverse;
		margin: 0 auto 1.2rem auto;
	}

    .home-page-cards-container {
        margin-top: 1.2rem;
		flex-direction: column;
        gap: 1rem;
    }

    .home-page-card {
        width: 100%; 
        flex-direction: row;
        align-items: center;
        padding: 1rem 0.5rem 1rem 0.5rem;
		min-height: 7.2rem;
		height: 7.2rem;
		gap: 3.2rem;
    }

    .home-page-icon-placeholder {
        flex: 0 0 20%;
		margin-bottom: 0;
        margin-right: 0;
    }

	.home-page-icon-placeholder img {
		width: 4.8rem;	
		margin: 0 auto;
    }

	.home-page-card-content {
		flex: 0 0 72%; 
	}

	.home-page-card-content h3 {
		font-size: 1.2rem;
		margin: 0 0 2rem 0;
		font-weight: 600;
		text-align: left;
	}
	
	.home-page-card-content p {
		font-size: 0.96rem;
		color: #666;
		margin: 0 0 0.5rem 0;
		text-align: left;
	}

	.linkedin-connect, .linkedin-connect:visited {
		padding: 2vw 24px;
	}
}

.li-button-container {
	display: flex;
    justify-content: center;
}

.linkedin-connect, .linkedin-connect:visited {
    display: inline-block;
    padding: 1.6vw 24px;
    background-color: #0b66c2;
	margin: auto;
    color: white;
    text-decoration: none;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 28px;
    transition: background-color 0.2s;
	
}

.linkedin-connect:hover {
    background-color: #004182;
    color: white;
    text-decoration: none;
}

