<header class="site-header">
  <div class="navbar-wrapper">
    <a class="text-center d-block mx-auto site-title " rel="author" href="{{ "/" | absolute_url }}">Milan&#39;s Home on the Internet</a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/marketing/" | absolute_url }}">On Growth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/product-management/" | absolute_url }}">On Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/running/" | absolute_url }}">Running</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/about-me/" | absolute_url }}">About</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</header>