---
layout: custom
---

<div class="hero-section">
  <h1>Contact</h1>
  <form id="contact-form" action="https://contact-form.milan-gupta-iitd.workers.dev/" method="POST">
    <div class="mg-form-field">
      <label for="name">Name:</label>
      <input class="short" type="text" id="name" name="name" required>
    </div>
    <div class="mg-form-field">
      <label for="email">Email:</label>
      <input class="short" type="email" id="email" name="email" required>
    </div>
    <div class="mg-form-field">
      <label for="message">Message:</label>
      <textarea class="large" id="message" name="message" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>