---
layout: custom
---

{% include home/hero-section.html %}

<div class="workplaces-strip">
	<img src="/assets/images/home/vdocipher.webp" alt="VdoCipher">
	<img src="/assets/images/home/jio.webp" alt="Jio Platforms">
	<img src="/assets/images/home/disney-star.webp" alt="Disney Star">
	<img src="/assets/images/home/spyne.webp" alt="Spyne">
</div>	  

{% include home/category-section.html category="marketing" title="Marketing" %}
{% include home/category-section.html category="product" title="Product" %}
{% include home/category-section.html category="ai-agents" title="AI Agents" %}
