---
layout: custom
---

{% include home/hero-section.html %}

<div class="workplaces-strip">
	<img src="/assets/images/home/vdocipher.png" alt="VdoCipher">
	<img src="/assets/images/home/jio.png" alt="Jio Platforms">
	<img src="/assets/images/home/disney-star.png" alt="Disney Star">
	<img src="/assets/images/home/spyne.png" alt="Spyne">
</div>	  
<div class="home container">
  	<div class="row">
		<h2>About Me</h2>
  		<div class="home-image-profile">
  			<img src="/assets/images/home/milan-photo.png" alt="Milan is in a suit">
  			<div class="image-caption">
  				<p>I am deeply passionate about <a href="https://www.milangupta.io/product-management/">building products that consumers love</a>.  I have worked extensively on building products that incorporate Real-time engagement at JioPlatforms, and have worked on User acquisition and conversion optimization at B2B SaaS startup VdoCipher.</p>
  			</div>
  		</div>
		<div class="home-image-block">
  			<img src="/assets/images/home/running.jpg" alt="Milan is running">
  			<div class="image-caption">
  				<p>Running is my biggest source for personal growth. My half marathon personal best is 1:32:30, my marathon debut was at 4:00:05, and my best run of all time was the <a href="https://www.milangupta.io/blog/solang-skyrun-2018">30km Solang Skyrun</a>My more recent runs have been Summit Run (Indrahar pass) in Oct '22 and Ooty Ultra (60k) in April '23
				</p>
  			</div>
  		</div> 		
  	</div>
</div>

