---
layout: custom
---
<div class="home container">
  	<div>
	  <p>This is my happy and cheerful corner of the internet. </p>
	</div>
  	<div class="row">
  		<div class="home-image-block col-lg-6">
  			<img class="home-image" src="/assets/images/home/iiml-formals.jpg" alt="Milan is in a suit">
  			<div class="image-caption">
  				<p>I am deeply passionate about <a href="https://www.milangupta.io/product-management/">building products that consumers love</a>. I am working at Jio Platforms, India's most ambitious startup. I have previously worked on User acquisition and conversion optimization at B2B SaaS startup VdoCipher.</p>
  			</div>
  		</div>
		<div class="home-image-block col-lg-6">
  			<img class="home-image" src="/assets/images/home/running.jpg" alt="Milan is running">
  			<div class="image-caption">
  				<p>Running is my biggest source for personal growth. My half marathon personal best is 1:32:30, my marathon debut was at 4:00:05, and my best run of all time was the <a href="https://www.milangupta.io/blog/solang-skyrun-2018">30km Solang Skyrun</a>.
				</p>
  			</div>
  		</div>
  	</div>
  </div>
</div>
