<section class="jumbotron-section">
    <div class="home-page-jumbotron-text">
        <h1>Growth & Tech strategy</h1>
        <p>Scale apps & achieve massive customer retention, superpowered by AI</p>
    </div>

    <div class="contact-cards-container">
        <div class="home-page-cards-container">
            <!-- Card 1 -->
            <a href="/blog/crafting-icp-ideal-customer-profile" class="home-page-card">
                <div class="home-page-icon-placeholder">
                    <img src="../../assets/images/home/icons/user-jtbd.svg">
                </div>
                <div class="home-page-card-content">
                    <h3>Identify Customers</h3>
                    <p>ICPs & Core Jobs-to-be-done</p>
                </div>
            </a>

            <!-- Card 2 -->
            <a href="/blog/value-prop-jobs-to-be-done" class="home-page-card">
                <div class="home-page-icon-placeholder">
                    <img src="../../assets/images/home/icons/value-prop.svg">
                </div>
                <div class="home-page-card-content">
                    <h3>Define Value Proposition </h3>
                    <p>Positioning Strategy</p>
                </div>
            </a>

            <!-- Card 3 -->
            <a href="/blog/designing-acquisition-strategy" class="home-page-card">
                <div class="home-page-icon-placeholder">
                    <img src="../../assets/images/home/icons/messaging.svg">
                </div>
                <div class="home-page-card-content">
                    <h3>Acquisition strategy</h3>
                    <p>Content loops & Messaging</p>
                </div>
            </a>

            <!-- Card 4 -->
            <a href="/blog/customer-journey-analytics-pipeline" class="home-page-card">
                <div class="home-page-icon-placeholder">
                    <img src="../../assets/images/home/icons/user-journey.svg">
                </div>
                <div class="home-page-card-content">
                    <h3>Core User Journey</h3>
                    <p>Define, Build & Iterate</p>
                </div>
            </a>

            <!-- Card 5 -->
            <a href="/blog/disney-hotstar-product-analytics" class="home-page-card">
                <div class="home-page-icon-placeholder">
                    <img src="../../assets/images/home/icons/analytics.svg">
                </div>
                <div class="home-page-card-content">
                    <h3>User analytics</h3>
                    <p>Effective dashboards & instrumentation </p>
                </div>
            </a>
        </div>
        <div class="li-button-container">
            <a href="https://www.linkedin.com/in/milan-gupta4" class="linkedin-connect" target="_blank">
                Connect on LinkedIn
            </a>
        </div>
    </div>
</section>